<!DOCTYPE html>
<html>
  <head>
    <title>Eve Moon Probe Parser</title>
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="mother">
      <div class="container">
        {{{body}}}
      </div>
    </div>
  </body>
</html>
